h1, h2, h3, h4, h5, h6 {
color:black;font:Fantasy
}
p1, p2, p3, p4, p5, p6 { 
color:black;font:sans-serif
}
a {
color:blue;font:Sans-serif
}
span {
color: lime
}

body {
background-color:#E5E4E2
}
header, nav, main, aside {
  border:1px solid black;
}
header, nav {
  max-width:100%;
}
aside {
  width:150px;
}
.flex {
  display:flex;
  background-color:white
}
nav {
  max-height:25px;
  height:25px;
}
header {
  max-height:100px;
  height:100px;
}
main {
  width:100%;
}